* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E3DDB5;
    text-align: center;
}

h1 {
    background-color: #83494C;
    color: white;
    height: 70px;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap: 150px;
}

#rock {
    background-image: url('rock-image.png');
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-size: cover;
    /* margin-right: 200px; */
    transform: rotate(-90deg);
}

#paper {
    background-image: url('paper-image.png');
    height: 200px;
    width: 200px;
    /* margin-right: 200px; */
    border-radius: 50%;
    background-size: cover;
    transform: rotate(-90deg);
}

#scissor {
    background-image: url('scissor-image.png');
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-size: cover;
    transform: rotate(-90deg);
}

#rock:hover {
    border: 1px solid navy;
    cursor: pointer;
    background-color: black;
}

#paper:hover {
    background-color: black;
    cursor: pointer;
    border: 1px solid navy;
}

#scissor:hover {
    background-color: black;
    cursor: pointer;
    border: 4px solid navy;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,#comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 3rem;
}

.msg {
    background-color: #83494C;
    font-size: 2rem;
    border-radius: 1rem;
    padding: 1rem;
    display: inline;
}

@media(max-width:400px) and (min-width:200px){
    #rock {
        height: 100px;
        width: 100px;
        margin-left: 15px;
    }
    #paper {
        height: 100px;
        width: 100px;
    }
    #scissor {
        height: 100px;
        width: 100px;
    }
    .container {
        width: fit-content;
        gap: 20px;
    }
    #user-score,#comp-score {
        font-size: 2rem;
    }
    .msg {
        font-size: 1rem;
        border-radius: 1rem;
        padding: 0.5rem;
    }
} 
